
<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ APACHE2_DIR }}
    <Directory {{ APACHE2_DIR }}>
        Options Indexes
        AllowOverride All
        Allow from all
        Require all granted
    </Directory>
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

